hr {
    margin: 0;
}

.rodape {
background-color: var(--branco);
padding: 1rem;
}

.lista_rodape {
    display: none;
}

@media screen and (min-width: 1024px) {
    .rodape {
        display: flex;
        justify-content: space-around;
        padding: 3rem 0;
    }

    .lista_rodape {
        display: block;
    }

    .rodape_titulo {
        font-size: 1.5rem;
    }

    .lista_rodape_titulo{
        color: var(--cinza_claro);
        text-transform: uppercase;
        padding: 0.2rem 0 1rem 0;

    }

    .lista_rodape_item {
        display: flex;
        align-items: center;
        margin-top: 1rem;
    }

    .lista_rodape_link {
        color: var(--cinza_escuro);
        text-decoration: none;
        margin-left: 0.8rem;
    }
}

@media screen and (min-width: 1728px) {
    .lista_rodape {
        border-left: 1px solid var(--cinza_claro);
        padding-left: 1.5rem;
    }
}